*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.sale{
    text-align: center;
    font-size: 2rem;
    padding: 15px;
    background-color: rgb(162, 214, 85);
    color: white;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 20px;
    margin-left: 50px;
    margin-right: 90px;
    /* position: fixed; */
}
.logo{
    padding-left: 100px;
    letter-spacing: 2px;
}
nav{
    margin-right: 10px;
}
nav a{
    text-decoration: none;
    /* padding: 20px; */
    margin-right: 80px;
    color: black;
    font-size: large;
}

.right {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-right: 90px;
}

.right i {
  cursor: pointer;
  font-size: 20px;
}

.cart {
  position: relative;
}

.cart span {
  position: absolute;
  top: -8px;
  right: -8px;
  background: orange;
  color: white;
  font-size: 11px;
  padding: 2px 6px;
  border-radius: 50%;
}

.country {
  font-size: 13px;
}
.hero{
    height: 80vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    background: url("https://images.unsplash.com/photo-1504674900247-0877df9cc836") center/cover no-repeat;
}
.hero img {
  width: 230px;
  height: 230px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.hero-content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
}
.hero-content h1{
    font-size: 5rem;
    font-weight: lighter;
}
.hero-content p{
    font-size: 2rem;
    font-weight: lighter;
}
.hero .btn{
  margin-top: 50px;
  background-color: rgb(170, 241, 77);
  padding: 15px 70px;
  border-radius: 30px;
  color: white;
  font-size: 1em;
  border: transparent;
}

.products{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  flex-direction: column;
}

.products h1{
  font-size: 3rem;
  font-weight: lighter;
}

.products p{
  text-align: center;
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: lighter;
  color: gray;
}

 .cards-container{
  display: flex;
  justify-content: center;
  gap: 40px;          /* space between cards */
  flex-wrap: wrap;    /* responsive */
  padding: 50px 0;
}
.card{
  width: 300px;
  border: 2px solid rgb(115,115,115);
  padding: 35px;
  text-align: center;
  background: white;
}

.card img{
  width: 180px;
  text-align: center;
  height: 200px;
}

.card p{
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgb(115, 115, 115);
} 

.card h1{
  letter-spacing: 1.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 9px ;
}

.card .btn{
  margin-top: 30px;
  background-color: white;
  padding: 15px 35px;
  border-radius: 30px;
  color: black;
  font-size: 1em;
  border: 0.1px solid rgb(115, 115, 115);
  transition: 0.7s;
}
.card .btn:hover{
  background-color: rgb(123, 184, 44) ;
  color: white;
}
.star{
  display: flex;
  justify-content: center;
  align-items: center;
  color: orange;
}
.blank{
  color: rgb(115, 115, 115);
} 

.mashroom{
  border-top: 1px solid rgb(195, 189, 189);
  border-bottom: 1px solid rgb(195, 189, 189);
  padding: 20px;
  width: 67vw;
  margin-left: 300px;
  height: 200px;
  display: flex;
}
.content{
  display: flex;
  align-items: center;
  max-width: 1220px;
  /* margin: 0 auto; */
  gap: 40px;
}
.text{
  flex: 3;
}
.content h2{
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
}
.content p{
  font-size: 16px;
  line-height: 1.6;
  color: #b5b3b3;
}
.mashroom .logo{
  display: flex;
  height: 170px; 
  padding-right:20px;
}
